titre
{
   
    text-align: center;
}

.animation
{
    position:absolute;
    width: 100%;
    height:100%;
    transform-style: preserve-3d;
    animation: fermeture 5s linear infinite;

}

.conteneur {
    transform-style: preserve-3d;
    position: absolute;
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-left: 40%;
}
    
.container{
    width: 50%;
    height: 100%;
    position:absolute;
    right: 0;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.cube{
    width: 100%;
    height: 100%;
    position:absolute;
    right: 0;
    transform-style: preserve-3d;
   /* animation: fermeture 5s linear infinite;*/
    

}
.face{
    position:absolute;
    transform-style: preserve-3d;
}
/* .top{
    background-image: linear-gradient(43deg,#d041c9 0%,#C850C0 46%,#ac5480 100%);
    transform:rotateX(90deg) translateZ(10px);width: 340px;height: 20px;

}

.bottom{
    background-image: linear-gradient(43deg,#829c21 0%,#7c8322 46%,#88941e 100%);
    transform: rotateX(-90deg) translateZ(190px);width: 340px;height: 20px;

    
}

.right{
    background: rgb(10, 3, 7);
    transform:rotateX(90deg) ,translateZ(330px);
    width: 20px;
    height: 200px;
}
.left{
    background:rgb(32, 22, 167);
    transform:rotateY(-90deg) translateZ(10px);
    width: 20px;
    height: 200px;
}

.front {
    background: rgb(204, 32, 32);
    transform:  rotateX(0deg)translateZ(30px);
    width: 340px;
    height: 200px;
}
.back{
    background:rgb(42, 202, 77);
    transform:rotateX(-180deg) translateZ(10px);
    width: 340px;
    height: 200px;
} */

.top{
    background-image: linear-gradient(43deg,#d041c9 0%,#C850C0 46%,#ac5480 100%);
    transform:rotateX(90deg) translateZ(200px);
    width: 200px;
    height: 20px;
    top:190px;  
  /*  border-radius: 25px;*/

}

.bottom{
    background-image: linear-gradient(43deg,#829c21 0%,#7c8322 46%,#88941e 100%);
    transform: rotateX(-90deg) translateZ(200px);width: 200px;height: 20px; top:190px; /*border-radius: 25px; */    
}

.right{
    background: rgb(10, 3, 7);
    transform:rotateY(90deg) translateZ(100px);
    width: 20px;
    height: 400px;
    left: 90px;
  /*  border-radius: 25px;*/
}
.left{
    background:rgb(32, 22, 167);
    transform:rotateY(-90deg) translateZ(100px);
    width: 20px;
    height: 400px;
    left: 90px;
   /* border-radius: 25px;*/
}

.front {
    background: rgb(204, 32, 32);
    transform:  rotateX(0deg) translateZ(10px);
    width: 200px;
    height: 400px;
   /* border-radius: 25px;*/
}
.back{
    background: rgb(2,0,36);
background: linear-gradient(43deg, rgba(2,0,36,1) 0%, rgba(46,43,43,1) 21%, rgba(0,0,0,1) 41%, rgba(121,102,121,1) 70%, rgba(108,132,139,1) 100%);
    
    transform:rotateY(180deg) translateZ(9px);
    width: 210px;
    height: 400px;
    margin-left: -19px;
    left: 14px;
  /* border-radius: 25px;*/
}



.rectangle
{
 
    background-color:rgb(12, 9, 3);
    background-image: url(nature.jfif);
    background-repeat: no-repeat;
    background-size: 110%;
    width: 100%;
    height: 100%;
    rotate: 0%;
    position:absolute;
    right: 0;
  /*  border: solid rgb(14, 6, 6);*/
 /*   border-radius: 0px 25px 25px 0px;*/
  
    
    
}




@keyframes fermeture

{
    0%
    {

        transform:perspective(1000px);

    }


    100%
    {
        transform:perspective(1000px) rotateY(-180deg);
    }

}



@keyframes ouverture

{
    0%
    {

        transform:perspective(1000px);
        transform:perspective(1000px) rotateY(-180deg);

    }


    100%
    {
        transform:perspective(1000px) rotateY(0deg);
    }

}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.calendrier {
    
    opacity: 0.7;
    background-color: rgb(232, 235, 234);
    
    
}

.barrederecherche{

    width:100px;
    opacity: 0.7;
} 

.camera-dos{
    margin:9px;
    width: 30px;
    padding-top: 20px;
    background:#d1a2a2;
    height:100px;
    text-align:center;
    border-radius:100px;
}

.camera {
    
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(46,43,43,1) 11%, rgba(15,13,37,1) 23%, rgba(69,58,190,1) 26%, rgba(15,13,41,1) 28%, rgba(0,0,0,1) 46%, rgba(46,21,46,1) 70%, rgba(24,26,27,1) 100%);

    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 15%;
}

.linkedin:hover {
    width: 2cm;
    transition: width 1s;
}

.youtub:hover{
    width: 2cm;
    transition: width 1s;

}

.insta:hover{
    width: 2cm;
    transition: width 1s;
}
.twitter:hover{
    width: 2cm;
    transition: width 1s;
}

.youtub{
    background-image: url(téléchargementyoutube.png);
    width: 1cm;
    margin-top: 100px;
    margin-left: 10px;
    
}
.insta{
    background-image: url(téléchargementinstagram.jfif);
    width: 1cm;
    margin-top: 20px;
    margin-left: 10px;
    
}

.linkedin{
    background-image: url(téléchargementlinkedin.png);
    width: 1cm;
    margin-top: 20px;
    margin-left: 10px;
}

.twitter{
    background-image: url(téléchargementtwitter.png);
    width: 1cm;
    margin-top: 20px;
    margin-left: 10px;
}

#check
{
    margin-left: 45%;
    margin-top: 5%;
}


#check:checked ~  .conteneur .animation
{

animation: ouverture 2s linear;

animation-fill-mode: forwards;
}

#check:not(checked) ~ .conteneur .animation

{
    animation: fermeture 2s linear;
    
    animation-fill-mode: forwards;

}
.rectangle2{

    background-color:rgb(3, 1, 1);
    background-image: url(nature.jfif);
    background-repeat: no-repeat;
    background-size: 110%;
    width: 50%;
    height: 100%;
    position:absolute;
    left: 0; 
    border: solid rgb(0, 0, 0);
   /* border-radius: Opx 25px 25px 0px;*/
    
   
}



